*{
  /* font-family: "poppins", sans-serif; */
  /* font-family: "Lobster Two", sans-serif; */
}

/* Header  */

.menu-a.active {
  color: #fe9f10 !important;
  
}
.menu-a {
  color: #071c35 !important;
  padding: 20px 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.custom-nav {
  /* background: red; */
  padding: 15px 0px !important;
}


/* Home  */
.main-home {
  background-image: url(./components/images/background-banner-home.jpg);
  background-size: cover;
  transform: translate3d(0px, 0px, 0px);
  /* height: 800px; */
  padding: 50px 0px;
  margin-left: 60px;
    border-radius: 30px 0px 0px 30px;
}

.main-home:before {
  position: absolute;
  z-index: -1;
  content: "";
  height: 100%;
  width: 70%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #222222 0%, rgba(34, 34, 34, 0) 99.38%);
  border-radius: 30px 0px 0px 30px;
}
.inner-home {
  /* max-width: 1200px; */
  width: 100%;
  display: flex;
  margin: auto;
  padding: 0% 3% 0% 15%;
  align-items: center;
}

.banner-content {
  position: relative;
  z-index: 2;
  /* margin-bottom: 50px; */
  width: 50%;
}
.banner-media {
  width: 50%;
}
.banner-media img {
  width: 100%;
}
.banner-content h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: block;
  color: #fe9f10;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  
}
.banner-content h1 {
  font-family: "Lobster Two", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 80px;
  line-height: 1.2;
  margin-bottom: 16px;
  color: white;
  
}
.banner-content p {
  font-size: 18px;
  line-height: 27px;
  color: #ffffffb3;
  max-width: 580px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
.banner-btn {
  margin-top: 40px;
  margin-bottom: 80px;
}

.banner-btn-one {
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  background: #fe9f10;
  box-shadow: 0 5px 30px 0 #fe9f1033;
  border-radius: 6px;
  margin-right: 30px;
  border: 1px solid #fe9f10;
  color: white;
  font-family: "Poppins", sans-serif;
}
.banner-btn-two {
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  background: transparent;
  box-shadow: 0 5px 30px 0 #fe9f1033;
  border-radius: 6px;
  margin-right: 30px;
  border: 1px solid #fe9f10;
  color: #fe9f10;
  font-family: "Poppins", sans-serif;
}


.food-card {
  border: 1px dashed rgba(255, 255, 255, .4);
  border-radius: 10px;
  width: 370px;
  position: relative;
 
}
.panner-tikka {
  border-bottom: 1px dashed rgba(255, 255, 255, .4);
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
}

.panner-tikka h5 {
  color: white;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}


.panner-tikka {
  border-bottom: 1px dashed rgba(255, 255, 255, .4);
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
}
.panner-tikka h5 {
  width: 45%;
}
.rating {
  width: 55%;
  display: flex;
  justify-content: end;
}
.rating li {
  list-style: none;
  color: #ebbc16;
  margin-right: 7px;
  font-size: 20px;
  line-height: 24px;
}
.master-chief {
  width: 100%;
  display: flex;
  padding: 15px 25px;
}
.john-doe {
  width: 70%;
}
.right_cart {
  width: 30%;
}
.banner_image {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  min-width: 45px;
  position: relative;
  overflow: hidden;
}
.banner_image img {
  width: 100%;
  
}
.profile-info {
  display: flex;
  gap: 15px;
}
.banner_image_content h6 {
  margin-bottom: 3px;
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.banner_image_content p {
  color: #c4c4c4;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}
.banner-content-second {
  font-size: 15px !important;
  margin-bottom: 0;
  color: #dcdcdc !important;
  line-height: 24px !important;
  font-weight: 400 !important;
  font-family: "Poppins", sans-serif !important;
}

.right_cart h5 {
  color: #fe9f10;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.right_cart ul {
  padding: 0px;
}
.right_cart li {
  color: white;
  list-style: none;
  font-size: 25px;
  line-height: 27px;
}
.right_cart i.fa.fa-solid.fa-cart-plus {
  padding: 10px 12px;
  background: #fe9f10;
  border-radius: 4px;
}




/* Second HOme css  */
.inner-col {
  max-width: 1200px;
  margin: auto;
}
.healthy-food {
  display: flex;
  gap: 24px;
}
.inner-border {
  width: 32%;
  border-right: 1px dashed rgba(102, 102, 102, .2);
}
.inner-health {
  display: flex;
  gap: 5px;
  align-items: center;
}
.health-icon {
  color: #fe9f10;
  width: 30%;
  background-color: #fe9f101a;
  width: 100px;
  height: 100px;
  min-width: 100px;
  border-radius: 100%;
  line-height: 100px;
  text-align: center;
  margin-right: 20px;
}
.health-content {
  width: 70%;
}
.health-icon li {
  list-style: none;
  font-size: 40px;
  text-align: center;
}
.last-border {
  border-right: none;
}
.second-main {
  padding-top: 100px;
  padding-bottom: 70px;
}
.health-content h5 {
  color: #222222;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.health-content p {
  color: #666;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.health-content h5:hover {
  color: #d38004;
}



