*{
  font-family: "Poppins", sans-serif;
}
h3{
  font-family: "Poppins", sans-serif;
}
h2,h1{
  font-family: "Lobster Two", sans-serif;
}

/* Home Page Css Start  */

.menu-a.active {
  color: #fe9f10 !important;
  
}
.main-header {
  max-width: 1200px !important;
}
.menu-a {
  color: #071c35 !important;
  padding: 20px 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.custom-nav {
  padding: 15px 0px !important;
}


/* Home  */
.main-home {
  background-image: url(./components/images/background-banner-home.jpg);
  background-size: cover;
  transform: translate3d(0px, 0px, 0px);
  /* height: 800px; */
  padding: 50px 0px;
  margin-left: 60px;
    border-radius: 30px 0px 0px 30px;
}

.main-home:before {
  position: absolute;
  z-index: -1;
  content: "";
  height: 100%;
  width: 70%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #222222 0%, rgba(34, 34, 34, 0) 99.38%);
  border-radius: 30px 0px 0px 30px;
}
.inner-home {
  /* max-width: 1200px; */
  width: 100%;
  display: flex;
  margin: auto;
  padding: 0% 3% 0% 16%;
  align-items: center;
}

.banner-content {
  position: relative;
  z-index: 2;
  /* margin-bottom: 50px; */
  width: 50%;
}
.banner-media {
  width: 50%;
}
.banner-media img {
  width: 100%;
}
.banner-content h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: block;
  color: #fe9f10;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  
}
.banner-content h1 {
  font-family: "Lobster Two", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 80px;
  line-height: 1.2;
  margin-bottom: 16px;
  color: white;
  
}
.banner-content p {
  font-size: 18px;
  line-height: 27px;
  color: #ffffffb3;
  max-width: 580px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
.banner-btn {
  margin-top: 40px;
  margin-bottom: 80px;
}

.banner-btn-one {
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  background: #fe9f10;
  box-shadow: 0 5px 30px 0 #fe9f1033;
  border-radius: 6px;
  margin-right: 30px;
  border: 1px solid #fe9f10;
  color: white;
  font-family: "Poppins", sans-serif;
}
.banner-btn-two {
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  background: transparent;
  box-shadow: 0 5px 30px 0 #fe9f1033;
  border-radius: 6px;
  margin-right: 30px;
  border: 1px solid #fe9f10;
  color: #fe9f10;
  font-family: "Poppins", sans-serif;
}


.food-card {
  border: 1px dashed rgba(255, 255, 255, .4);
  border-radius: 10px;
  width: 370px;
  position: relative;
 
}
.panner-tikka {
  border-bottom: 1px dashed rgba(255, 255, 255, .4);
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
}

.panner-tikka h5 {
  color: white;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}


.panner-tikka {
  border-bottom: 1px dashed rgba(255, 255, 255, .4);
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
}
.panner-tikka h5 {
  width: 45%;
}
.rating {
  width: 55%;
  display: flex;
  justify-content: end;
}
.rating li {
  list-style: none;
  color: #ebbc16;
  margin-right: 7px;
  font-size: 20px;
  line-height: 24px;
}
.master-chief {
  width: 100%;
  display: flex;
  padding: 15px 25px;
}
.john-doe {
  width: 70%;
}
.right_cart {
  width: 30%;
}
.banner_image {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  min-width: 45px;
  position: relative;
  overflow: hidden;
}
.banner_image img {
  width: 100%;
  
}
.profile-info {
  display: flex;
  gap: 15px;
}
.banner_image_content h6 {
  margin-bottom: 3px;
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.banner_image_content p {
  color: #c4c4c4;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}
.banner-content-second {
  font-size: 15px !important;
  margin-bottom: 0;
  color: #dcdcdc !important;
  line-height: 24px !important;
  font-weight: 400 !important;
  font-family: "Poppins", sans-serif !important;
}

.right_cart h5 {
  color: #fe9f10;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.right_cart ul {
  padding: 0px;
}
.right_cart li {
  color: white;
  list-style: none;
  font-size: 25px;
  line-height: 27px;
}
.right_cart i.fa.fa-solid.fa-cart-plus {
  padding: 10px 12px;
  background: #fe9f10;
  border-radius: 4px;
}




/* Second HOme css  */
.inner-col {
  max-width: 1200px;
  margin: auto;
}
.healthy-food {
  display: flex;
  gap: 24px;
}
.inner-border {
  width: 32%;
  border-right: 1px dashed rgba(102, 102, 102, .2);
}
.inner-health {
  display: flex;
  gap: 5px;
  align-items: center;
}
.health-icon {
  color: #fe9f10;
  width: 30%;
  background-color: #fe9f101a;
  width: 100px;
  height: 100px;
  min-width: 100px;
  border-radius: 100%;
  line-height: 100px;
  text-align: center;
  margin-right: 20px;
}
.health-content {
  width: 70%;
}
.health-icon li {
  list-style: none;
  font-size: 40px;
  text-align: center;
}
.last-border {
  border-right: none;
}
.second-main {
  padding-top: 100px;
  padding-bottom: 70px;
}
.health-content h5 {
  color: #222222;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.health-content p {
  color: #666;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.health-content h5:hover {
  color: #d38004;
}


/* third css  */






/* fourth css  */
.fourth-home{
  background-image: url(./components/images/home-fourth.png);
  margin-left: 5%;
  margin-right: 5%;
  z-index: 1;
  position: relative;
  border-radius: 30px;
  background-attachment: fixed;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;
}

.inner-special:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(6px);
  background-color: #151515b3;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.special-content h2 {
  color: white;
  font-size: 60px;
  text-align: center;
  line-height: 72px;
  font-weight: 700;
  font-family: "Lobster Two", sans-serif;
  margin-bottom: 40px;
}

.today_special {
  display: flex;
  gap: 30px;
}
.inner-today-special {
  width: 25%;
  background: white;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 30px;
  height: calc(100% - 30px);
}
.special-media {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.special-media img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.weight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weight span {
  font-size: 12px;
  line-height: 19px;
  color: #666;
  font-weight: 400;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
}
.price h6 {
  color: #222222;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}
.inner-price {
  color: #fe9f10;
}



.image__icon {
  width: 20px;
  height: 20px;
  position: absolute;
  background: #fe9f10;
  border-radius: 10px;
  padding: 5px 40px 52px 23px;
  font-size: 30px;
  line-height: 50px;
  color: white;
  font-weight: 500;
  display: none;
  top: 37%;
  left: 37%;
  right: 0;
  bottom: 0;
  
}


.special-media:hover .image__icon {
  display: block;
  
}







/* last section start */
.chill_out {
  display: flex;
  background: rgba(34, 34, 34, .05);
  border-radius: 10px;
}
.chill_image {
  width: 38%;
  border-radius: 10px 0px 0px 10px;
  overflow: hidden;
  position: relative;
}
.chill_image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.chill_date {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
  background: #fe9f10;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 15px;
  text-transform: uppercase;
  display: block;
  border-radius: 6px;
}

.recent-update h2 {
  color: #222222;
  font-size: 60px;
  text-align: center;
  line-height: 72px;
  font-weight: 700;
  font-family: "Lobster Two", sans-serif;
  text-align: left;
  margin-bottom: 45px;
}
.chill_content {
  width: 62%;
}

.news_update {
  display: flex;
  gap: 30px;
}
.news_today.recent-update {
  width: 62%;
}

.exploring {
  width: 40%;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  /* height: 100%; */
  /* min-height: 570px !important; */
  object-fit: cover;
  box-shadow: 0 20px 40px #0000001a;
  
}
.exploring video {
  width: 100%;
  object-fit: cover;
  height: 635px;

}


.exploring:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(359.53deg, #222222 .4%, rgba(34, 34, 34, 0) 99.59%);
}
.last-section {
  padding: 80px 0px;
}

.read_more {
  color: #0000 !important;
  transition: all .3s ease !important;
  text-shadow: 0 0 0 #fff, 500px 0 0 #fff;
  overflow: hidden;
  border: 1px solid #fe9f10;
  background: #fe9f10;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 50px;
}
.chill_content h4 {
  color: #222222;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
}
.chill_meta ul {
  display: flex;
  gap: 35px;
  padding: 0px;
}
.chill_meta ul li {
  list-style: none;
}
.user i.fa {
  color: #fe9f10;
  margin-right: 8px;
}
.chill_content {
  width: 62%;
  padding: 25px 20px 25px 25px;
}
.chill_in {
  margin-top: 35px;
}

.video_date {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1;
  background: #fe9f10;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 15px;
  text-transform: uppercase;
  display: block;
  border-radius: 6px;
}
.video_content {
  position: absolute;
  bottom: 32px;
  z-index: 99999;
  left: 30px;
}
.video_content .user {
  z-index: 99999;
  /* position: relative; */
  color: white;
}
.video_content h3 {
  color: white;
  font-size: 30px;
  line-height: 39px;
  font-weight: 600;
  width: 80%;
  padding-bottom: 15px;
}
.video_content .inner_video_content ul li {
  list-style: none;
}
.video_content .inner_video_content ul {
  padding: 0px;
  display: flex;
  gap: 20px;
}

/* last section end */







/* Footer css */
.main-footer {
  background: #222;
  /* margin-left: 5%; */
  /* margin-right: 5%; */
  /* border-radius: 30px; */
  /* margin-top: 80px; */
  padding: 50px 0px;
}
.inner-footer {
  max-width: 1200px;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, .1);
  padding: 40px 40px;
  border-radius: 0px 40px 0px 40px;

}
.inner-subscribe {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  margin-bottom: 60px;
}
.footer-logo {
  width: 50%;
}
.footer-logo img {
  margin-bottom: 15px;
}
.footer-logo p {
  color: white;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  width: 60%;
  font-family: "Poppins", sans-serif;
}
.newsletter {
  width: 50%;
}
.newsletter h4 {
  color: white;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}
#form_1 .footer-input {
  width: 100%;
  height: 65px;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #666;
  transition: all .3s ease-in-out;
  background: #fff;
  border: 1px solid #dddddd;
}
.form-button .inner-button {
  color: #0000 !important;
  transition: all .3s ease !important;
  text-shadow: 0 0 0 #fff, 500px 0 0 #fff;
  overflow: hidden;
  background: #fe9f10;
  border: 1px solid #fe9f10;
  padding: 12px 30px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  position: relative;
  left: 76%;
  top: -58px;
}
.menu_footer h5 {
  color: white;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}
.menu_footer ul {
  padding: 0px;
}
.menu_footer ul li {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
.menu_footer i.fa.fa-solid.fa-location-dot {
  color: #fe9f10;
  font-size: 30px;
}
.menu_footer p {
 font-size: 15px;
  line-height: 24px;
  color: #ccc;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.menu_footer i.fa-solid.fa-phone {
  color: #fe9f10;
  font-size: 30px;
}
.menu_footer i.fa-solid.fa-envelope {
  color: #fe9f10;
  font-size: 30px;
}
.menu_footer li {
  font-size: 15px;
  line-height: 24px;
  color: #ccc;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  list-style: none;
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.inner-footer-menu {
  display: flex;
  gap: 20px;
}
.menu_footer {
  width: 25%;
}




/* Media Query  */

@media only screen and (max-width: 980px) {
  .main-home:before {
    border-radius: 0px;
}
.main-home {
  margin: 0px;
  border-radius: 0px;
  padding-right: 15px;
  padding-left: 15px;
}
.inner-home {
  padding: 0px;
  display: block;
}
.banner-content {
  width: 100%;
}
.banner-content h2 {
  text-align: center;
}
.banner-content h1 {
  font-size: 40px;
  text-align: center;
  line-height: 60px;
}
.main-home .banner-content p {
  text-align: center;
}
.banner-btn button {
  margin: 0px;
}
.banner-btn {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.banner-btn {
  margin-bottom: 55px;
}
.food-card {
  width: 100%;
}
.master-chief {
  gap: 25px;
}
.banner-content-second {
  text-align: start !important;
}
.right_cart {
  text-align: end;
}
.banner-media {
  width: 100%;
  margin-top: 50px;
}






.second-main {
  padding: 50px 15px;
}
.healthy-food {
  display: block;
}
.inner-border {
  width: 100%;
  border-bottom: 1px dashed rgba(102, 102, 102, .2);
  border-right: none;
}
.inner-health {
  display: block;
  width: 100%;
  text-align: center;
  padding: 50px 0px;
}
.health-icon {
  margin: auto;
  margin-bottom: 30px;
}
.health-content {
  width: 100%;
}
.last-border {
  border: none;
}
.fourth-home {
  padding: 50px 20px;
}
.inner-today-special {
  width: 100%;
}
.today_special{
  display: block;
}
.special-content h2 {
 
  font-size: 40px;
 
}
.news_update {
  display: block;
}
.news_today.recent-update {
  width: 100%;
}
.last-section {
  padding: 80px 15px;
}
.recent-update h2 {

  font-size: 40px;
  text-align: center !important;
  line-height: 56px;
  
}
.chill_out {
  display: block;
}
.chill_image {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.chill_content {
  width: 100%;
  
}
.chill_content h4 {
  
  padding-bottom: 15px;
}
.button .read_more {
  margin-top: 25px;
}
.news_today.recent-update {
  margin-bottom: 50px;
}
.exploring {
  width: 100%;

}
.inner-subscribe {
  display: block;
}
.footer-logo {
  width: 100%;
}
.footer-logo p {
  width: 100%;
  
}
.newsletter {
  width: 100%;
}
.inner-footer {
 
  padding: 70px 20px 20px 20px;
 
}
.form-button .inner-button {
 
  left: 58%;
  
}
.main-footer {
  padding-left: 15px;
  padding-right: 15px;
}
.inner-footer-menu {
  display: block;
}
.menu_footer {
  width: 100%;
  padding-bottom: 30px;
}
}

/* Home Page Css End  */
















/* About Page Css Start  */




.contact_main{
  background-image: url('./components/images/about_bg.jpg');
  text-align: center;
 
}


.inner_contact:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, .9);
}

.inner_contact {
  height: 450px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.inner_contact h1{
  font-size: 70px;
  line-height: 85px;
  font-weight: 400;
  padding-bottom: 20px;
  color: #ffffff;
  z-index: 999;
  }
  
      .main_hero_heading {
        display: flex;
        z-index: 999;
        gap: 5px;
        background: #fe9f10;
        border-radius: 8px;
        padding: 10px 25px;
        height: 47px;
    }
    .main_hero_heading a {
      text-decoration: none;
      font-size: 15px;
      line-height: 25px;
      font-weight: 400;
      color: #ffffff;
  }
  .main_hero_heading p i {
    font-size: 12px;
    color: white;
}
   





#form{

  padding: 200px 0px 90px 0px;

}

#form .reservation__inner h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  padding-top: 25px;
}

.inner_form {
  background: #2222220a;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 30px;
  padding-bottom: 100px;
}
.member_btn button {
  height: 30px;
  background: #fe9f10;
  border: none;
  color: white;
  font-size: 25px;
  line-height: 32px;
  font-weight: 400;
  height: 40px;
  width: 40px;
}
.member_btn .btn_one {
  border-right: 1px solid white;
  border-radius: 4px 0px 0px 4px;
}
.member_btn .btn_two {
  border-left: 1px solid white;
  border-radius: 0px 4px 4px 0px;
}
.input_member {
  position: relative;
}
.member_btn {
  position: absolute;
  top: 0px;
  right: 0px;
}
.input_member {
  display: flex;
}
.member_btn {
  display: flex;
}
.reservation__inner:hover p {
  color: white;
}

.reservation__done{
width: 100%;
max-width: 1200px;
margin: auto;
border-radius: 20px;
}
.reservation__content{
display: flex;
width: 100%;
margin: auto;
column-gap: 30px;
transform: translate(0px, -50px);
}
.reservation__inner{
width:24%;
text-align: center;
border: 1px solid gray;
padding: 60px 45px;
background-color: #ffffff;
background: rgba( 255, 255, 255, 0.7 );
box-shadow: 0 15px 55px #22222226;
backdrop-filter: blur( 7px );
-webkit-backdrop-filter: blur( 7px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
transition: .5s all ease-in-out;
}
.reservation__inner h2{
font-size: 20px;
font-weight: 500;
line-height: 25px;
}
.reservation__inner p{
font-size: 16px;
font-weight: 400;
line-height: 26px;
    color: #666;
}
#form .circle i {
font-size: 50px;
color: #fe9f10;
}


#form .circle {
  position: absolute;
  transform: translate(40px, -123px);
  border-radius: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 15px 55px #22222226;
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 110px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input::placeholder{
  color: #222;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}



.reservation__inner:hover {
background: #fe9f10;
color: #ffffff !important;
transition: .5s all ease-in-out;
}
.reservation__inner:hover .circle i{
animation: vibrate 0.5s linear infinite;
}

@keyframes vibrate {
0% { transform: translate(0); }
20% { transform: translate(-2px, 2px); }
40% { transform: translate(-2px, -2px); }
60% { transform: translate(2px, 2px); }
80% { transform: translate(2px, -2px); }
100% { transform: translate(0); }
}
.form__inner {
padding: 50px 100px;
}
.form__inner h2{
font-size: 60px;
font-weight: 500;
line-height: 60px;
text-align: center;
}
.form-row {
display: flex;
margin-bottom: 10px;
flex-wrap: wrap;
column-gap: 10px;
justify-content: space-between;
row-gap: 50px;
}
.form-col {
width: 49%;

}

.form-col:last-child {
padding-right: 0;
}

.label {
display: block;
font-size: 14px;
line-height: 22px;
font-weight: 600;
color: #fe9f10;
}

input, textarea {
width: 100%;
padding: 8px;
box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

input[type="submit"] {
margin-top: 10px;
}
.form-col input {
background: transparent;
border: none;
border-bottom: 1px solid gray;
}
textarea#message {
border: none;
background: transparent;
border-bottom: 1px solid gray;
}
input:focus-visible {
outline: none;
}
textarea:focus-visible {
outline: none;
}
input.submit {
width: 13%;
margin: auto;
text-align: center;
background-color: #fe9f10;
font-size: 16px;
font-weight: 600;
border: none;
border-radius: 8px;
padding: 12px 25px;
color: #ffffff;
}
.myform .textarea textarea::placeholder {
  color: #222;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.submit--main {
margin: auto;
text-align: center;
}
.form-col input:hover {
border-bottom: 1px solid #000000 !important;
}
textarea#message:hover {
border-bottom: 1px solid #000000 !important;
}
.textarea {
padding-top: 40px;
}
.myform{
padding: 45px 0px 0px 0px;
}



@media screen and (max-width: 980px) {
  .reservation__content {
    display: block;
}

#form .circle {
  transform: translate(82px, -102px);
  width: 80px;
  height: 80px;
}
#form .circle i {
  font-size: 30px;
  
}
.margin_innner {
  margin-bottom: 0px !important;
}
.form__inner {
  padding: 50px 0px;
}
.form-col {
  width: 100%;
}
input.submit {
  width: 50%;
}
.inner_form {
  padding-bottom: 40px;
}
.reservation__inner {
 
  padding: 60px 30px;
  width: 100%;
  margin-bottom: 100px;
}

.inner_form {
  background: #2222220a;
  padding-left: 5%;
  padding-right: 5%;
}
.inner_contact {
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.custom-nav {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
}

/* About Page Css End  */









/* Blog Page Css Start  */


.inner_blog {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
}
.main_card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 8px;
}
.inner-body {
  padding: 30px 30px;
}
.main_card img {
  transition: transform 0.3s ease-in-out;
 
}
.main_card:hover img {
  transform: scale(1.2);

}
.inner_image{
  overflow: hidden;
}
.main_blog {
  padding: 80px 0px;
}

@media only screen and (max-width: 980px) {
  .main_blog {
    padding-right: 15px;
    padding-left: 15px;
}
.inner_blog {
  
  grid-template-columns: auto;
  
}
}



/* Blog Page Css End  */


/* About us Css start  */



.inner_about h2{
  font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    text-align: center;
}
.inner_about p {
  font-size: 16px;
  line-height: 26px;
  color: #666;
  font-weight: 400;
  width: 730px;
  text-align: center;
  margin: auto;
}

.inner_video {
  background-image: url('./components/images/about_image.jpg');
  text-align: center;
  height: 430px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}
.inner_btn {
  display: flex;
  width: 87px;
  height: 87px;
  background-color: #fe9f10;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.inner_btn i {
  color: white;
  font-size: 25px;
}
.play_btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* About us Css end  */

